.container {
    max-width: 1250px;
    margin: 50px auto;
    background-color: #000; 
    color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.container h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container li {
    margin-bottom: 15px;
    line-height: 1.5;
}

.container a {
    color: #1e90ff; 
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
